$colorB : #000000;
$colorC : #f73b4c;
$colorBL : #1f2324;
$colorFont : #ffffff;
$font_Family : 'arial', 'helevetica', san-serif; 
$width-page : 1200px;
$font-size-small : 0.6em;
$font-size-medium : 1.8em;
$font-size-large : 3.5em;

